@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

:root {
  --element-primary: #eb5440;
  --element-secondary: #4a4b4c;
  --element-tertiary-1: #e8e8e8;
  --element-tertiary-2: #c3c3c3;
  --element-background-1: #f6f6f6;
  --element-background-2: #ffffff;
  --text-primary: #000000;
  --text-secondary: #4a4b4c;
  --text-hyperlink: #067bc2;
}
